body {
    font-family: neu;
    background-color: aliceblue;
}

@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}


.nav-bar {
    height: 10vh;
    display: flex;
}

.nav-search {
    flex-grow: 1;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    padding: 23px;
    flex-grow: 1;
}

.nav-img {
    flex-grow: 1;
}

.nav-items a{
    color: black;
    font-size: 25px;
    text-decoration: none;
    /* border: 2px solid black; */
    padding: 2px 5px 2px 5px;
    /* border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.515); */
}

.page {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.page-left-text {
    font-size: 300%;
    padding-left: 5vw;
    padding-top: 5vh;
}

.page-left-text p {
    font-size: 40%;
}

.lets-talk-button-cont {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 0px;
    position: relative;
    overflow: hidden;
}

.lets-talk-button-cont h4{
    border: 2px solid black;
    padding: 2px 5px;
    font-size: 50%;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.lets-talk-button-cont a{
    text-decoration: none;
    color: black;
}

.lets-talk-button-cont a:hover {
    color: white;
    z-index: 2;
}

.lets-talk-button-cont a::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: 0.3s ease;
    z-index: 0;
    overflow: hidden;
}

.lets-talk-button-cont a:hover::after {
    bottom: 0;
    border-radius: 0;
    z-index: -1;
}


/* .lets-talk-button {
    text-decoration: none;
    font-size: 50%;
    padding: 2px 5px 2px 5px;
    border: 2px solid rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    color: black;
} */

.check-out{
    display: flex;
}

.check-out img{
    width: 30px;
    height: 30px;
    padding-left: 15px;
    padding-top: 15px;
}

.coding-img {
    padding-right: 10vw;
    padding-top: 5vh;
}

.coding-img img{
    height: 90vh;
    width: 40vw;
}

.page1 {
    height: 100vh;
    /* background-color: rgb(82, 97, 231); */
    position: relative;
}

.service-left-cont {
    position: relative;
    max-width: 48%;
    float: left;
    height: 100%;
    width: 100%;
    margin-left: 1%;
}

.service-left-cont h3{
    padding-top: 30px;
    padding-left: 70px;
    font-size: 400%;
}

.service-left-cont p {
    font-size: 150%;
    padding-left: 70px;
}

.hr1-left {
    border-top: 2px solid rgba(0, 0, 0, 0.314);
    width: 100%;
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
}

.left-service-explore a{
    position: absolute;
    text-decoration: none;
    color: black;
    padding-left: 570px;
    top: 90%;
    padding-top: 15px;
    font-size: 40px;
}

.vl {
    border-left: 2px solid rgba(0, 0, 0, 0.412);
    height: 100%;
    position:absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%)
}

.service-right-cont {
    max-width: 50%;
    float: right;
    position: relative;
    margin-right: 2%;
}

.services {
    padding-top: 5px;
    display: flex;
}

.services h3 {
    font-size: 35px;
}

.service-right-left-content{
    width: 70%;
}

.service-right-right-content {
    width: 30%;
}

.service-right-right-content a{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    font-size: 20px;
}

.service-right-right-content h4{
    padding-top: 140px;
    padding-left: 110px;
}

.hr {
    border-top: 2px solid rgba(0, 0, 0, 0.314);
    width: 100%;
    position: absolute;
    top: 36%;
    transform: translateY(-50%);
}

.hr1 {
    border-top: 2px solid rgba(0, 0, 0, 0.314);
    width: 100%;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
}

.page2 {
    max-height: 120vh;
    margin-left: 2%;
    display: flex;
}

.page2-left {
    width: 50%;
}

.page2-left-bottom {
    margin-top: 15%;
}

.page2-left-top h3{
    font-size: 3.5em;
}

.page2-left-top p{
    margin-top: -29px;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.page2-left-bottom h3{
    font-size: 2em;
}

.skill img{
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
}

.skills-list {
    display: flex;
    gap: 30%;
    padding-left: 100px;
    padding-right: 100px;
}

.page2-right {
    width: 50%;
    margin: 2%;
}

.page2-right-top {
    margin-left: 5%;
}

.experience {
    display: flex;
    gap: 20px;
}

.experience-role {
    padding-left: 10vh;
    margin-top: -35px;
}

.experience-role h4{
    font-size: 1.5em;
    margin-bottom: -1vh;
}

.page2-right-bottom img{
    padding-left: 270px;
    padding-top: 50px;
}

.page2-right-bottom a img{
    width: 100px;
    padding: 0 0 0 0;
    margin-top: 6%;
    margin-left: 22%;
    padding-bottom: 50px;
    position: absolute;
}

.project-text h3{
    font-size: 400%;
    text-align: center;
}

.project-text p{
    font-size: 150%;
    text-align: center;
    margin-top: -35px;
}

.project-card-container {
    display: flex;
    gap: 2%;
    margin: 5px auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    height: 75vh;
    width: 30%;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: white;
    margin-bottom: 4vh;
}

.project-card-img {
    height: 35vh;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.project-card-description {
    height: 25vh;
    margin-top: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.308);
}

.project-card-description h3 {
    font-size: 1.6em;
    padding-left: 1.9%;
}

.project-card-description p{
    padding-left: 1.9%;
    padding-right: 1.9%;
    font-size: 17px;
}

.project-card-skill {
    height: 15vh;
    padding-left: 10px;
}

.project-skill {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 100%;
    margin-top: 5px;
    line-height: 1.2;
    padding-left: 5px;
}

.project-skill p{
    border: 2px solid rgba(0, 0, 0, 0.692);
    border-radius: 10px;
    padding: 1px 5px;
    white-space: nowrap;
    line-height: 1;
    margin: 0 -1.5px;
    font-weight: lighter;
}


















/* .service-text h3{
    font-size: 400%;
    text-align: center;
}

.service-text p{
    font-size: 150%;
    text-align: center;
    margin-top: -35px;
}

.service-card-container {
    display: flex;
    gap: 2%;
    margin: 5px auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.service-card {
    height: 90vh;
    width: 30%;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: white;
    margin-bottom: 4vh;
}

.service-card-img {
    height: 35vh;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-card-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.service-card-description {
    height: 40vh;
    margin-top: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.308);
}

.service-card-description h3 {
    font-size: 1.6em;
    padding-left: 1.9%;
}

.service-card-description p{
    padding-left: 1.9%;
    padding-right: 1.9%;
    font-size: 17px;
}

.service-card-skill {
    height: 15vh;
    padding-left: 10px;
}

.service-skill {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 100%;
    margin-top: 5px;
    line-height: 1.2;
    padding-left: 5px;
}

.service-skill p{
    border: 2px solid rgba(0, 0, 0, 0.692);
    border-radius: 10px;
    padding: 1px 5px;
    white-space: nowrap;
    line-height: 1;
    margin: 0 -1.5px;
    font-weight: lighter;
} */
